#searchy-bar {
  padding: 5px 2px;
}

#searchy-bar textbox {
  font-size: 20px;
}

#searchy-bar label {
  padding-top: 5px;
}

#searchy-input[busy="true"]
{
  background: #fff url(spinner.gif) no-repeat center right;
}

#searchy {
  padding: 10px 8px 6px 8px;
  margin-top: 4px;
  -moz-appearance: none;
  background-color: rgba(44,44,44,0.95);
  border: 1px solid rgba(255,255,255,0.15);
  -moz-border-radius: 4px;
  color: white;
}

#searchy .result
{
  padding: 4px 8px;
}

#searchy .result[current=true]
{
  background: #000;
  -moz-border-radius: 4px;
}

#searchy .result .title
{
  font-size: 1.5em;
}
#searchy .result .bold
{
  font-weight: bold;
  font-size: 1.1em;
}

#searchy .result .description
{
  padding: 5px 25px;
}
